$w: 75rem !default;


.Flex {
  // Modifiers
  &--space {
    justify-content: space-between;
  }

  // Elements
  &__container {
    max-width: $w;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  &__child {
    flex: 1 0 18rem;
    &--wide {
      flex: 9 0 25rem;
    }
  }
}
